body {
    background-color: #e4e4e448;
    padding: 0;
    margin: 0;
}

/* class */
.header{
 /* border: 3px solid #000; */
 display: flex;
 justify-content: space-between;
 color: pink;
 font-family: 'Courier New', Courier, monospace;
 padding: 10px; 
 margin: 20px;
 
}

.bg-gray, .bg1, .bg2{
    background-color:grey;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.item{
    width: 50%;
}
